body {
    background-image: url("../images/1440x450.jpg");
    background-color: blueviolet;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1440px 10000px;
    position: relative;
}

header {
    color: whitesmoke;
    font-size: 1.5rem;
}

.jumbotron {
    background-color: blueviolet;

}



.btn {
    color: white;
    background-color: blue;
}

#foot {
    margin-top: 15rem;
}

#foot {
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    color: red;
    width: 100%
}

img {
    /* border: 1px solid #ddd; */
    /* border-radius: 4px;
    padding: 5px;
    width: 10px; 
    max-width: 100px;
    max-height: 50px; */
}